<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center">
          <a class="logo-font" href="http://www.brewerydb.com/developers/docs-terms">
            <img width="450px" height="150px" src="/assets/img/Powered-By-BreweryDB.png">
          </a>
        </div>
        <span class="about_text">
          All of our data is supplied by the team over at BreweryDb.com. If you'd like to learn more about them, please check out their
          website for a huge database of breweries, beers, beer events and even brewers guilds! You can even submit new beers
          as the database is constantly kept up to date.
        </span>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</footer>